// Build global.css with this file

// Note
// Variable overrides within the same Sass file can come before or after the default variables. However, when overriding across Sass files, your overrides must come before you import Bootstrap’s Sass files.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1440px
);

@import '../node_modules/bootstrap/scss/bootstrap';

//https://coolors.co/
